body {
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-content: center;
    font-family: 'Mulish', sans-serif;
}

section {
    height: 1020px;
    width: 480px;
    border: 1px solid rgba(128, 128, 128, 0);
    overflow-y: hidden;
    border-radius: 15px;
}

section:hover {
    overflow-y: scroll;
}

section::-webkit-scrollbar {
    width: 3px;               
}

section::-webkit-scrollbar-track {
    background: #00f2ff00;        
}

section::-webkit-scrollbar-thumb {
    background-color: rgba(61, 59, 59, 0.725);    
    border-radius: 15px;
}

body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #00f2ff00;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(61, 59, 59, 0.725);    /* color of the scroll thumb */
    border-radius: 15px;
}

header {
    padding: 30px;
    padding-top: 45px;
    padding-bottom: 0px;
}

.menu {
    background: #f7f7f7;
    padding: 0.5em;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
}

main {
    background: #f7f7f7;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 100px;
}

.buttons {
    display: flex;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.button {
    flex: 1;
    height: 110px;
    padding: 15px;
    border-radius: 10px;
    background: white;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mensagens {
    padding: 15px;
}

.mensagens h2{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #3e3049;
}

.mensagem {
    display: flex;
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.info {
    flex: 1;
}

.mensagem .nome {
    font-weight: bold;
}

.mensagem .content {
    color: #665e77;
}

.mensagem .link {
    color: #F26D20;
}

.mensagem .linkzul {
    color: #0053E5;
}

nav .conteudomenu {
    position: fixed;
    height: 1020px;
    background: #f7f7f7;
    opacity: 0;
    left: -1000px;
    margin-top: 0;
    border-radius: 15px;
    transition: 0.3s;
    padding-right: 70px;
}

nav ul li {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
    line-height: 30px;
}

nav ul li img{
    margin: 5px;
    max-width:30px;
    max-height:30px;
    width: 30px;
    height: 30px;
}
nav ul li div{
    margin: 5px;
}

.fundo {
    height: 1020px;
    width: 480px;
    opacity: 0;
    left: -1000px;
    border-radius: 15px;
    position: fixed;
    overflow-y: hidden;
    transition: 0.3s;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
}

#ph {
    display: flex;
    justify-content: center;
}